<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Portfolio</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Hi, I'm Veerabhadra</h1>
    <p>Software Developer | Python | Angular | Devops | AWS </p>

    <section>
      <h2>Projects</h2>
      <ul>
        <li><strong>Reservee Booking App:</strong> Angular + Supabase app with admin panel</li>
        <li><strong>Deployment:</strong> cloud + Docker + k8s</li>
        <li><strong>Flask API Backend:</strong> RESTful API with PostgreSQL</li>
        <li><strong>Chatbot:</strong> Python NLP chatbot using NLTK</li>
      </ul>
    </section>

    <section>
      <h2>Contact</h2>
      <p>Email: veerabhadraswamy.ct@aiwoox.com</p>
      <p>GitHub: <a href="https://github.com/veerabhadra-45" target="_blank">github.com/veerabhadra-45</a></p>
    </section>
  </div>
</body>
</html>
